/* Developer: Saffet Anıl Arseven */
    body {
        margin: 0px;
        padding: 0px;
        border: 0px;
        font-size: 100%;
        line-height: 20px;
      }
      img {
        margin: 0px;
        padding: 0px;
        border: 0px;
        line-height: 20px;
      }
      table {
        margin: 0px;
        padding: 0px;
        border: 0px;
        font-size: 100%;
        line-height: 20px;
        border-collapse: collapse;
        border-spacing: 0;
      }
      ul, lighter {
        padding: 0;
      }
      li {
        list-style: none;
      }
      a {
        text-decoration: none;
      }
      [type=hidden] {
        display: none;
      }
        [type=none] {
          visibility: hidden;
        }
button, [type=button], [type=submit], [type=reset]{
                height: 20px;
            widows: auto;
    color: #000;
    background-color: #e5e3e3;
    border-top: 2px #afacac;
    border-left: 2px #afacac;
    border-bottom: 2px #afacac;
    border-right: 2px #afacac;
    font:bold 14px Arial, Helvetica, sans-serif;
}
        [type=text], [type=password], area, label {
            height: 20px;
            widows: auto;
    color: #000;
    background-color: #fff;
    border-top: 2px #afacac;
    border-left: 2px #afacac;
    border-bottom: 2px #afacac;
    border-right: 2px #afacac;
    font:bold 14px Arial, Helvetica, sans-serif;
}
table {
    table { border-collapse: collapse;}
 table tr {border: 1px solid black;}
table td {border: 1px solid black;}
}

hr {
    color: darkgray;
}
h1, h2, h3, h4, h5, h6, center, big, small, u, del, sup, sub {
    font-family: sans-serif;
        font-weight: 100;
            font-style: normal;
}
code {
    font-family: monospace;
font-weight: 100;
    font-style: normal;
}
b, strong {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
}
i {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 100;
}
u {
    text-decoration: underline;
}
del {
    text-decoration: overline;
}
sup {
    vertical-align: top;
}
sub {
    vertical-align: bottom;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 10px;
}
center {
    font-size: 14px;
}
small {
    font-size: 5px;
}
big {
    font-size: 30px;
}
b, strong {
    font-size: 14px;
}
i {
    font-size: 14px;
}
u {
    font-size: 14px;
}
del {
    font-size: 14px;
}
sup {
    font-size: 14px;
}
sub {
    font-size: 14px;
}
code {
    font-size: 14px;
}
