      body {
  background: white;
}
p {
  color: black;
}
.gtranslate {
position: absolute;
left: 5px;
bottom: 5px;
}
.logo {
position: absolute;
right: 800px;
bottom: 150px;
}
.github-logo {
position: absolute;
left: 800px;
bottom: 150px;
}

