body,td,th {
	color: #FFF;
}
body {
	background-image: url(../img/bg.jpg);
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#site {
	width: 600px;
	margin-top: 250px;
	margin-right: auto;
	margin-left: auto;
}
#search {
	height: 50px;
	border: 0px solid #FFF;
	width: 460px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 5px 0px 0px 5px;
	  box-shadow: 0px 0px 10px #ccc;
}
#searchbutton {
	position: absolute;
	height: 52px;
	border: 0px solid #FFF;
	margin-left: -4px;
	width: 100px;
	border-radius: 0px 5px 5px 0px;
	box-shadow: 0px 0px 10px #ccc;
	color: #FFF;
	background-color: #e67e22;
	font-weight: bold;
}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}